#root {
  margin: 0 auto;
}

.app-layout__layout {
  min-height: 100vh;

  .app-layout__content {
    background-color: #f2f0ef;
    min-height: 100%;
  }

  .app-layout__sider {
    padding: 16px;
  }
}

.mobile-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 0 12px;

  button {
    background-color: #e6f4ff;
    width: 32px;
    height: 32px;
  }
}

.sidebar-content__title {
  justify-self: center;

  .sidebar-content__not-mobile {
    width: 100%;
    margin-bottom: 24px;
  }
}

.sidebar-content__menu {
  border: none !important;
  user-select: none;

  .ant-menu-item-selected {
    color: #1b263b;
  }
}

.title {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 22px;
  font-weight: bold;
  color: #1b263b;
}
